<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_gatos"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_gatos_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:targetApi="31">
        <activity
            android:name=".Favoritos"
            android:exported="false" />
        <activity
            android:name=".cestaDeLaCompra"
            android:exported="false" />
        <activity
            android:name=".Layout.ComprarComida"
            android:exported="false" />
        <activity
            android:name=".Layout.About"
            android:exported="false" />
        <activity
            android:name=".Layout.Registro"
            android:exported="false" />
        <activity
            android:name=".Layout.Ajustes"
            android:exported="false" />
        <activity
            android:name=".Layout.menu"
            android:exported="false" />
        <activity
            android:name=".Layout.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>